.advantages {
  padding-bottom: 200px;
  &__heading {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 140%;
    text-align: center;
    color: var(--light-color);
    padding-bottom:120px;
  }
  &__info {
    display: flex;
    justify-content:space-between ;
    &_item {
      text-align: center;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 24px;
      line-height: 140%;
      color: var(--light-color);
      &-title {
        max-width: 416px;
        padding-top:20px;
      }
      &-descr {
        max-width: 358px;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        opacity: 0.8;
      }
    }
  }
}
