.footer {

  &__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  h5 {
    margin:0;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    text-align: center;
    color: var(--light-color);
  }
  p {
    max-width: 411px;
    margin: 30px 0 60px 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: var(--white);
    opacity: 0.5;
  }
  &__email {
    display: flex;
    position: relative;
    input {
      margin: 0 50px 45px 0;
      padding-left:30px;
      width: 500px;
      height: 44px;
      border:none;
      border-radius: 50px 0 0 50px;
      background-color: rgba(255, 255, 255, 0.25);
      color:var(--light-color);
      outline: none;
    }
    button {
      width: 160px;
      height: 44px;
      position: absolute;
      right:10px;
      border:none;
      border-radius: 50px;
      color: #fff;
      background: linear-gradient(141deg, #df5950 0%, #451046 100%);
    }
  }

  img {
    padding:13px;
    border-radius: 100%;
    background:  linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
  }
  img:nth-last-child(1) {
    margin-left:30px;
  }
  .footer__creater {
    margin: 45px 0 25px 0;
  }
}

