.partners {
  padding-bottom:153px;
  &__heading {
    display: flex;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    color: var(--light-color);
    padding-bottom :53px;

    img {
     padding-right:52px;
    }
  }
  &__content {
    position: relative;
    max-width: 1296px;
    &-vertical_1 {
      position: absolute;
      left:304px;
    }
    &-vertical_2 {
      position: absolute;
      left: 647px;
    }
    &-vertical_3 {
        position: absolute;
        right:305px;
    }
    &-horizontal {
        position: absolute;
        bottom:187px;
    }
    &_logo {
      text-align: center;
       img {
         padding-bottom:55px;
       }
       img:not(:nth-child(4)):not(:nth-child(8)) {
        margin-right: 132px;
      }
    }
  }
}
