<section class="about">
  <div class="container">
    <div class="about__content">
      <img src="img/svg/about__img.svg" alt="">
      <div class="about__text">
        <h2 class="about__title">Чем мы занимаемся?</h2>
        <p class="about__descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur labore necessitatibus nobis numquam quam sit. Ab aliquam aperiam deleniti dolor facilis maxime nostrum obcaecati odio perferendis, quo repellendus totam vitae.</p>
      </div>
    </div>
  </div>
</section>
