<section class="advantages">
  <div class="container">
    <div class="advantages__content">
      <div class="advantages__heading">
        <h2>Получите профессию прямо сейчас</h2>
      </div>
      <div class="advantages__info">
        <div class="advantages__info_item">
          <img src="img/icon-1.png" alt="">
          <h3 class="advantages__info_item-title">Только практические <br> навыки в работе</h3>
          <p class="advantages__info_item-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.</p>
        </div>
        <div class="advantages__info_item">
          <img src="img/icon-2.png" alt="">
          <h3 class="advantages__info_item-title">Работа на самом <br> современном оборудовании</h3>
          <p class="advantages__info_item-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.</p>
        </div>
        <div class="advantages__info_item">
          <img src="img/icon-3.png" alt="">
          <h3 class="advantages__info_item-title">Сертификация <br>  по окончании обучения</h3>
          <p class="advantages__info_item-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.</p>
        </div>
      </div>
    </div>
  </div>
</section>
