<footer class="footer">
  <div class="container">
    <div class="footer__content">
    <h5>Статьи каждую неделю</h5>
    <p>Больше 90% учеников прошли полный курс и смогли собрать свой первый компьютер</p>
      <div class="footer__email">
        <input type="text" placeholder="E-mail">
        <button>Подписаться</button>
      </div>


    <div class="footer__media">
      <img src="img/svg/vk.svg" alt="">
      <img src="img/svg/youtube.svg" alt="">
    </div>
    <p class="footer__creater">Сайт создан Ткачевым Данилом</p>
    </div>
  </div>
</footer>
