<link rel="stylesheet" href="../scss/components/_header.scss">
<header class="header header--position">
  <div class="container header__container">
    <a href="" class="logo">
      <img src="img/svg/logo.svg" alt="Site Logo">
    </a>
    <nav class="nav header__nav">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a href="" class="nav__link">Главная</a></li>
        <li class="nav__item"><a href="" class="nav__link">Курсы</a></li>
        <li class="nav__item"><a href="" class="nav__link">Расписание</a></li>
        <li class="nav__item"><a href="" class="nav__link">Преподаватели</a></li>
        <li class="nav__item"><a href="" class="nav__link">Рассылка</a></li>
        <li class="nav__item"><a href="" class="nav__link">Контакты</a></li>
      </ul>
    </nav>
    <button class="header__button">Зайти в кабинет</button>
  </div>
</header>
