<section class="hero">
  <div class="container">
    <div class="hero__content">
      <h1 class="hero__title">
        Первый курс <br> по компьютерной сборке
      </h1>
      <div class="hero__timer hero__timer--grouped">
        <p class="hero__timer-item">18 <span>дней</span></p>
        <p class="hero__timer-item">18 <span>часов</span></p>
        <p class="hero__timer-item">18 <span>минут</span></p>
        <p class="hero__timer-item">18 <span>секунд</span></p>
      </div>

    </div>
  </div>
  <div class="hero__container-course">
    <div class="hero__course container">
      <button class="hero__button">Заказать курс</button>
      <div class="hero__students">
        <p class="hero__course-item">Учеников всего: <span class="hero__course-item-span">200</span></p>
        <p class="hero__course-item">Успешно закончили курс: <span class="hero__course-item-span">190</span></p>
      </div>
      <div class="hero__money">
        <p class="hero__course-item">Заработано учениками: <span>400 000 &#8381;</span> </p>
        <div class="hero__money-line">
         <div class="hero__money-line-achieved"><img src="img/svg/line-achieved.svg"  alt=""></div>
          <div class="hero__money-line-total"><img  src="img/svg/line-total.svg" alt=""></div>
        </div>
        <div class="hero__money-total">
          <p class="hero__course-item">0</p>
          <p class="hero__course-item">1 000 000 &#8381;</p>
        </div>
      </div>
    </div>
  </div>
</section>
