<section class="partners">
  <div class="container">
      <div class="partners__heading">
        <img src="img/svg/icon-heading-partners.svg" alt="">
        <h3>Партнеры - топовые бренды</h3>
      </div>
    <div class="partners__content">
      <img class="partners__content-vertical_1" src="img/svg/partners-line-vertical.svg">
      <img class="partners__content-vertical_2" src="img/svg/partners-line-vertical.svg">
      <img class="partners__content-vertical_3" src="img/svg/partners-line-vertical.svg">
      <img class="partners__content-horizontal" src="img/svg/partners-line-horizontal.svg" alt="">
      <div class="partners__content_logo">
        <img src="img/msi_logo.png" alt="">
        <img src="img/msi_logo.png" alt="">
        <img src="img/msi_logo.png" alt="">
        <img src="img/msi_logo.png" alt="">
        <img src="img/msi_logo.png" alt="">
        <img src="img/msi_logo.png" alt="">
        <img src="img/msi_logo.png" alt="">
        <img src="img/msi_logo.png" alt="">
      </div>
    </div>
  </div>
</section>

