<section class="program">
  <div class="container">
    <div class="program__heading">
      <img src="img/svg/icon-heading-program.svg" alt="">
      <h3 class="program__heading-title">Программа обучения</h3>
      <p class="program__heading-descr">Больше 90% учеников прошли полный курс и смогли собрать свой первый компьютер</p>
    </div>

    <div class="program__timeline">
      <div class="program__timeline-week">
        <div>
          <p>Неделя №1</p>
          <h4>Красивая часть курса, <br> которая помогает в успехе</h4>
        </div>
      </div>
      <div class="program__timeline-week">
        <div>
          <p>Неделя №2</p>
          <h4>Красивая часть курса, <br>  которая помогает в успехе</h4>
        </div>
      </div>
      <div class="program__timeline-week">
        <div>
          <p>Неделя №3</p>
          <h4>Красивая часть курса, <br>  которая помогает в успехе</h4>
        </div>
      </div>
      <div class="program__timeline-week">
        <div>
          <p>Неделя №4</p>
          <h4>Красивая часть курса, <br>  которая помогает в успехе</h4>
        </div>
      </div>
      <div class="program__timeline-week">
        <div>
          <p>Неделя №5</p>
          <h4>Красивая часть курса, <br> которая помогает в успехе</h4>
        </div>
      </div>
      <div class="program__timeline-week">
        <div>
          <p>Неделя №6</p>
          <h4>Красивая часть курса, <br>  которая помогает в успехе</h4>
        </div>
      </div>
      <div class="program__timeline-week">
        <div>
          <p>Неделя №7</p>
          <h4>Красивая часть курса, <br> которая помогает в успехе</h4>
        </div>
      </div>
    </div>
  </div>
</section>
