<section class="start">
  <div class="container">
    <div class="start__content">
      <div class="start__heading">
        <img src="img/svg/icon-heading.svg" alt="">
        <h2>Быстрый старт</h2>
      </div>
      <p class="start__heading-descr">Больше 90% учеников прошли полный курс и смогли собрать свой первый компьютер</p>
      <div class="start__infographic">
        <div class="start__infographic-titles">
          <h3 class="start__procent">100%</h3>
          <h3 class="start__procent">75%</h3>
          <h3 class="start__procent">50%</h3>
          <h3 class="start__procent">Итог</h3>
        </div>
        <div class="start__infographic-img">
          <img src="img/start__100pr.jpg" alt="">
          <img src="img/start__75pr.jpg" alt="">
          <img src="img/start__50pr.jpg" alt="">
          <img src="img/start__total.jpg" alt="">
        </div>
        <div class="start__infographic-descr">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor.
            Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor.
            Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor.
            Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor.
            Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.</p>
        </div>
      </div>
    </div>
  </div>
</section>
