<section class="teachers">
  <div class="container">
    <div class="teachers__heading">
      <img src="img/svg/icon-heading-teachers.svg" alt="">
      <h3>Ваши преподаватели</h3>
    </div>
    <div class="teachers__content">
        <div class="teachers__content-item">
          <img src="img/icon_teacher-1.jpg">
          <h4 class="teachers__content-item_title">Данил Ткачев</h4>
          <p class="teachers__content-item_descr">Специалист по периферии</p>
          <button class="teachers__content-item_button">Биография</button>
        </div>
        <div class="teachers__content-item">
          <img src="img/icon_teacher-2.jpg">
          <h4 class="teachers__content-item_title">Данил Ткачев</h4>
          <p class="teachers__content-item_descr">Специалист по компьютерам</p>
          <button class="teachers__content-item_button">Биография</button>
        </div>
        <div class="teachers__content-item">
          <img src="img/icon_teacher-1.jpg">
          <h4 class="teachers__content-item_title">Данил Ткачев</h4>
          <p class="teachers__content-item_descr">Специалист</p>
          <button class="teachers__content-item_button">Биография</button>
        </div>
    </div>
  </div>
</section>
