@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Roboto",  system-ui;
}

html {
    scroll-behavior: smooth;
}

body {
    background: url("bgc.svg");
    overflow-x: hidden;
}

.wrapper {
    width: 100vw;
    max-width: 1920px;
    background: url("hero-bgc.svg") no-repeat top;
    background-size: 100% auto;
    header {
        li {
        cursor: pointer;
        &:hover {
            color: #878787;
            transition: 0.4s;
        }
        &:not(:last-child) {
            margin-right: 56px;
        }
    }
}

    .hero {
        .timer {
            div:not(:last-child) {
                margin-right: 30px;
            }
        }
    }

    .start {
        span:not(:last-child) {
            margin-right: 250px;
        }
    }

    .partners {
        .col-logo{
            &:first-of-type {
                img {
                    padding-bottom: 1.5rem;
                }
            }

        & {
            img {
                padding: 1.5rem 4rem 0 4rem;

                &:not(:last-child) {
                    border-right-width: 1px;
                    border-color: rgb(68 64 60);
                }
            }
        }
    }
}

    .program {
        .week {
            max-width: 35rem;
            position: relative;

            p {
                margin: 0 0 1em 0;
                opacity: 0.5;
            }

            h4 {
                margin: 0;
            }

            &:nth-child(even) {
                text-align: left;
                padding-left: 4rem;
                border-left: 5px solid #c89afc;
                transform: translateX(18em);
            }

            &:nth-child(odd) {
                text-align: right;
                border-right: 5px solid #c89afc;
                padding-right: 4rem;
                transform: translateX(-16.7rem);
            }

            &:nth-child(even)::before,
            &:nth-child(odd)::before {
                content: "";
                background: #888;
                width: 40px;
                height: 1px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                opacity: 0.3;
            }

            &:nth-child(even)::before {
                left: 0;
            }

            &:nth-child(odd)::before {
                right: 0;
            }

            &:nth-child(even) div::before,
            &:nth-child(odd) div::before {
                content: '';
                background: #fff;
                box-shadow: 0 0 0.5em #7c6afa;
                width: 0.7rem;
                height: 0.7rem;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 50%;
            }

            &:nth-child(even) div::before {
                left: -0.5rem;
            }

            &:nth-child(odd) div::before {
                right: -0.5rem;
            }
        }
    }
}
